{% load i18n %}

{% if attachments %}
    <div class="form-group row">
        <div class="col-md-3">
            <label class="col-form-label">
                {% translate 'Attachments' %}
            </label>
            <small class="form-text text-muted text-right mt-0">
                {% blocktranslate %}
                    Allowed to upload up to {{ max_attachments }} attachments
                {% endblocktranslate %}
            </small>
        </div>
        <div class="col-md-9">
            {% for attachment in attachments %}
                <div class="row border-bottom">
                    <div class="col-9">
                        <div class="align-self-center mt-2">
                            <a href="{% url 'attachments:get-attachment' attachment.bd_id attachment.name %}?db=grm"
                               target="_blank">
                                <i class="fas fa-paperclip mr-2"></i>
                                {{ attachment.name }}
                            </a>
                        </div>
                    </div>
                    <div class="col-3">
                        <a class="btn pull-right delete-attachment"
                           data-url="{% url 'dashboard:grm:delete_issue_attachment' doc.auto_increment_id attachment.id %}">
                            <i class="far fa-trash-alt text-danger"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<div {% if attachments|length == max_attachments %}style="cursor: not-allowed;"{% endif %} class="row mb-4">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <a class="btn btn-primary btn-sm fs12 rounded-xl {% if attachments|length == max_attachments %}
        disabled{% endif %}"
           id="add_attachment">
            {% translate "Add attachments" %}
        </a>
    </div>
</div>
