{% load static i18n custom_tags %}

{% for issue in issues %}
	<tr>
		<td>
			<a href="{% url 'dashboard:grm:issue_detail' issue.id %}">
				{{ issue.internal_code }}
			</a>
		</td>
		<td>{{ issue.tracking_code }} {{ issue.id }}</td>
		<td>{{ issue.description }}</td>
		<td>{{ issue.assignee.name }}</td>
		<td>{% get_days_until_today issue.created_date %}</td>
		<td>{{ issue.category.name }}</td>
		<td>{{ issue.issue_type.name }}</td>
		<td>{{ issue.status.name }}</td>
	</tr>
	{% empty %}
	<td class="text-center" colspan="8">
		{% translate 'No issues found' %}
	</td>
{% endfor %}
