{% extends 'layouts/base.html' %}
{% load bootstrap4 static i18n custom_tags %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <div class="card h-100">
                <div class="card-header border-0">
                    <div class="card-title">
                        <div class="pt-1 fs20 lh25 text-bold-family">
                            {{ doc.internal_code }}
                        </div>
                    </div>
                </div>
                <div class="card-body text-left">
                    <div class="row mr-2">
                        <div class="col-12">
                            <label class="label-align">{% translate 'Summary' %}</label>
                            <p>{{ doc.description }}</p>
                        </div>
                    </div>
                    <div class="overlay-wrapper">
                        <div id="attachments"></div>
                        <div class="overlay" id="load-attachments-spin">
                            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <div class="card-body">
                    {% bootstrap_field form.status layout='horizontal' %}
                    {% bootstrap_field form.assignee layout='horizontal' %}
                    <div class="row mr-2 mb-2">
                        <div class="col-3">
                            <label class="label-align">
                                {% translate 'Reporter' %}
                            </label>
                        </div>
                        <div class="col-9 text-regular-family">
                            {{ doc.reporter.name }}
                        </div>
                    </div>
                    <div class="row mr-2 mb-2">
                        <div class="col-3">
                            <label class="label-align">
                                {% translate 'Citizen' %}
                            </label>
                        </div>
                        <div class="col-9 text-regular-family">
                            {% if doc.contact_medium == choice_contact %}
                                {% get_contact_type_display doc.contact_information.type %}
                                {{ doc.contact_information.contact }}
                            {% else %}
                                {% get_contact_medium_display doc.contact_medium %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mr-2 mb-2">
                        <div class="col-3">
                            <label class="label-align">
                                {% translate 'Category' %}
                            </label>
                        </div>
                        <div class="col-9 text-regular-family">
                            {{ doc.category.name }}
                        </div>
                    </div>
                    <div class="row mr-2 mb-2">
                        <div class="col-3">
                            <label class="label-align">
                                {% translate 'Opened' %}
                            </label>
                        </div>
                        <div class="col-9 text-regular-family">
                            {{ doc.created_date|string_to_date|date:'j - F - Y' }}
                        </div>
                    </div>
                    <div class="row mr-2 mb-2">
                        <div class="col-3">
                            <label class="label-align">
                                {% translate 'Days before resolution' %}
                            </label>
                        </div>
                        <div class="col-9 text-regular-family">
                            {% if doc.resolution_date %}
                                {% get_days_until_date doc.resolution_date %} {% translate 'days' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8">
            <div class="card mh-750">
                <div class="card-header border-0">
                    <div class="card-title">
                        <div class="pt-1 fs20 lh25 text-bold-family">
                            {% translate 'Activity' %}
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    {% if enable_add_comment %}
                        <div class="row mb-3">
                            <div class="col-1">
                                {% with indexed_users|get:user.id as color_index %}
                                    <div class="circle-icon navbar-{{ colors|next_in_circular_list:color_index }}
                                    text-white text-bold-family">
                                        <div class="center-32 pt-1">
                                            {{ user.first_name.0|upper }}{{ user.last_name.0|upper }}
                                        </div>
                                    </div>
                                {% endwith %}
                            </div>
                            <div class="col-9">
                                {% bootstrap_form comment_form %}
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary btn-sm fs12 rounded-xl" disabled id="add_comment">
                                    {% translate "Send" %}
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body overflow-y-auto">
                    <div class="overlay-wrapper">
                        <div id="comments">
                            {% include 'grm/issue_comments.html' with comments=doc.comments colors=colors indexed_users=indexed_users %}
                        </div>
                        <div class="overlay" id="load-comments-spin">
                            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modals %}
    <div id="fileFormModal" class="modal" role="dialog" aria-hidden="true" data-backdrop="static"></div>
    <div id="finalStatusFormModal" class="modal" role="dialog" aria-hidden="true" data-backdrop="static"></div>
{% endblock modals %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/csrfSafeMethodAjax.js' %}"></script>
    <script src="{% static 'js/formAjaxSubmit.js' %}"></script>
    <script type="text/javascript">
        let load_attachments_spin = $('#load-attachments-spin');
        let status = $('#id_status');
        let assignee = $('#id_assignee');

        class ResearchResultFormAjaxSubmit extends FormAjaxSubmit {
        }
        let research_result_form_ajax = new ResearchResultFormAjaxSubmit();
        let research_result_modal = $('#finalStatusFormModal');
        let decline_change_to_final_status = false;

        $('.form-group select').on('change', function () {
            if (!decline_change_to_final_status) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'dashboard:grm:edit_issue' doc.auto_increment_id %}",
                    data: {
                        "status": status.val(),
                        "assignee": assignee.val()
                    },
                    success: function (response) {
                        if (response.final_status) {
                            let url = "{% url 'dashboard:grm:submit_issue_result' doc.auto_increment_id %}";
                            research_result_form_ajax.load_form('#research_result_form', research_result_modal, url);
                            $(document).on('click', '#finalStatusFormModal .close-modal', function () {
                                decline_change_to_final_status = true;
                                status.val(response.status).trigger('change');
                                decline_change_to_final_status = false;
                            });
                        } else {
                            showPopupMessage(response.msg);
                        }
                    },
                    error: function () {
                        alert(error_server_message);
                    }
                });

            }
        });

        class FileFormAjaxSubmit extends FormAjaxSubmit {
            submitted_form() {
                loadAttachments();
            }
        }

        let file_form_ajax = new FileFormAjaxSubmit();
        let file_form_modal = $('#fileFormModal');

        function loadAttachments() {
            load_attachments_spin.show();
            $('#attachments').load("{% url 'dashboard:grm:issue_attachments' doc.auto_increment_id %}?column=1", function (
                response, status, xhr) {
                if (status === "error") {
                    alert(error_server_message);
                }
                load_attachments_spin.hide();
                $('#add_attachment').click(function () {
                    let url = "{% url 'dashboard:grm:upload_issue_attachment' doc.auto_increment_id %}";
                    file_form_ajax.load_form('#form', file_form_modal, url, false, true);
                });
            });
        }

        $(document).ready(function () {
            loadAttachments();
            $('b[role="presentation"]').hide();
            $('.select2-selection__arrow').append(
                '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');
        });

        $(document).on('click', '.delete-attachment', function () {
            $.ajax({
                url: $(this).data('url'),
                type: 'POST'
            })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert(error_server_message);
                })
                .done(function (data) {
                    loadAttachments();
                    showPopupMessage(data.msg);
                })
        });

        let add_comment = $('#add_comment');
        let load_comments_spin = $('#load-comments-spin');
        load_comments_spin.hide();
        let comment = $('#id_comment');

        function loadComments() {
            load_comments_spin.show();
            $('#comments').load("{% url 'dashboard:grm:issue_comments' doc.auto_increment_id %}", function (
                response, status, xhr) {
                if (status === "error") {
                    alert(error_server_message);
                }
                load_comments_spin.hide();
            });
        }

        add_comment.click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'dashboard:grm:add_comment_to_issue' doc.auto_increment_id %}",
                data: {
                    "comment": comment.val(),
                },
                success: function (response) {
                    showPopupMessage(response.msg);
                    loadComments();
                    comment.val('');
                    add_comment.prop('disabled', true);
                },
                error: function () {
                    alert(error_server_message);
                }
            });
        });

        comment.on('keyup', function () {
            if ($(this).val().trim()) {
                console.log('anda pues');
                add_comment.prop('disabled', false);
            } else {
                add_comment.prop('disabled', true);
            }
        });

    </script>
{% endblock javascript %}
