{% load i18n %}
<div class="row mr-2 mb-2">
    <div class="col-3">
        <label class="label-align">
            {% translate 'Status' %}
        </label>
    </div>
    <div class="col-9 text-regular-family" id="#status_name">
        {{ doc.status.name }}
    </div>
</div>
<div class="row mb-2">
    <div class="col-8">
        <label class="label-align">
            {% translate 'Accept Issue' %}
        </label>
    </div>
    <div class="col-4">
        <button type="button" class="btn-status btn btn-primary pull-right" id="accept_issue"
                {% if doc_status.open_status or not doc_status.initial_status or doc_status.rejected_status %}
                disabled{% endif %}>
            <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
        </button>
    </div>
</div>
<div class="row mb-2">
    <div class="col-8">
        <label class="label-align">
            {% translate 'Record Resolution' %}
        </label>
    </div>
    <div class="col-4">
        <button type="button" class="btn-status btn btn-primary pull-right" id="record_resolution"
                {% if doc_status.final_status or not doc_status.open_status %}disabled{% endif %}>
            <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
        </button>
    </div>
</div>
<div class="row mb-2">
    <div class="col-8">
        <label class="label-align">
            {% translate 'Reject Issue' %}
        </label>
    </div>
    <div class="col-4">
        <button type="button" class="btn-status btn btn-primary pull-right" id="reject_issue"
                {% if doc_status.rejected_status or not doc_status.initial_status %}disabled{% endif %}>
            <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
        </button>
    </div>
</div>
