{% extends 'layouts/base.html' %}
{% load bootstrap4 static i18n %}

{% block progress-bar %}
    {% include 'common/progress_bar.html' with percentage=33 %}
{% endblock progress-bar %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <img src="{% static 'images/bg-left-horizontal-waves.png' %}" class="bg-left-horizontal-waves"/>
                <form method="post">{% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="fs20 lh46 mb-1 text-regular-family">
                                    {% translate 'Enter New Issue' %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="fs56 lh46 text-primary text-bold-family mb-4">
                                    {% translate 'Step' %} 2
                                </div>
                                <div class="fs35 lh35 text-bold-family ">
                                    {% translate 'Name of Person or Group' %}
                                </div>
                            </div>
                            <div class="col-6">
                                {% bootstrap_form form layout='horizontal' %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer mb-2">
                        <button type="submit" class="btn btn-primary btn-sm rounded-xl float-right">
                            {% translate "SAVE & NEXT" %}
                        </button>
                        <a href="{% url 'dashboard:grm:new_issue_step_1' doc.auto_increment_id %}"
                           class="btn btn-primary btn-sm rounded-xl float-right mr-4 disabled-on-submit">
                            <i class="fa fa-chevron-left mr-2"></i>
                            {% translate "BACK" %}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block select2 %}
    <script type="text/javascript">
        $("#id_citizen_age_group").select2({
            placeholder: "{% translate 'Click to select age group' %}",
            allowClear: true
        });
        $("#id_gender").select2({
            placeholder: "{% translate 'Click to select gender' %}",
            allowClear: true
        });
        {% translate 'Click to select religion, nationality' as empty_group_msg %}
        $("#id_citizen_group_1").select2({
            placeholder: "{{ empty_group_msg }}",
            allowClear: true
        });
        $("#id_citizen_group_2").select2({
            placeholder: "{{ empty_group_msg }}",
            allowClear: true
        });
        {% translate 'Click to select occupation status' as empty_group_msg_occupation %}
        $("#id_citizen_occupation").select2({
            placeholder: "{{ empty_group_msg_occupation }}",
            allowClear: true
        });
        {% translate 'Click to select educational level' as empty_group_msg_educational_level %}
        $("#id_citizen_educational_level").select2({
            placeholder: "{{ empty_group_msg_educational_level }}",
            allowClear: true
        });
    </script>
{% endblock select2 %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/deselectableRadios.js' %}"></script>
    <script type="text/javascript">
        deselectableRadios("id_citizen_type");
    </script>
{% endblock javascript %}
