{% extends 'layouts/base.html' %}
{% load bootstrap4 static i18n %}

{% block progress-bar %}
    {% include 'common/progress_bar.html' with percentage=80 %}
{% endblock progress-bar %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <img src="{% static 'images/bg-left-horizontal-waves.png' %}" class="bg-left-horizontal-waves"/>
                <form method="post">{% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="fs20 lh46 mb-1 text-regular-family">
                                    {% translate 'Enter New Issue' %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="fs56 lh46 text-primary text-bold-family mb-4">
                                    {% translate 'Step' %} 3
                                </div>
                                <div class="fs35 lh35 text-bold-family ">
                                    {% translate 'Citizen Contact' %}<br>
                                    {% translate 'Information' %}
                                </div>
                            </div>
                            <div class="col-6">
                                <span class="fs17 lh18">
                                    {{ form.contact_medium.label_tag }}
                                </span>
                                {% bootstrap_field form.contact_medium show_label=False %}
                                <div class="ml-4">
                                    <div class="row">
                                        <div class="col-6">
                                            {% bootstrap_field form.contact_type %}
                                        </div>
                                        <div class="col-6">
                                            {% bootstrap_field form.contact %}
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    {% bootstrap_field form.citizen %}
                                </div>
                                <div class="mt-5">
                                    {% bootstrap_field form.confidential_status %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer mb-2">
                        <button type="submit" class="btn btn-primary btn-sm rounded-xl float-right">
                            {% translate "SAVE & NEXT" %}
                        </button>
                        <a href="{% url 'dashboard:grm:new_issue_step_2' doc.auto_increment_id %}"
                           class="btn btn-primary btn-sm rounded-xl float-right mr-4">
                            <i class="fa fa-chevron-left mr-2"></i>
                            {% translate "BACK" %}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block select2 %}
    <script type="text/javascript">
        $("#id_contact_type").select2({
            placeholder: "{% translate 'Method of contact' %}",
            allowClear: true,
            disabled: {% if doc.contact_information %}false{% else %}true{% endif %}
        });
    </script>
{% endblock select2 %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $('b[role="presentation"]').hide();
        $('.select2-selection__arrow').append(
            '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

        let contact_type = $('#id_contact_type');
        let contact = $('#id_contact');
        let citizen = $('#id_citizen');

        function toggleContactInputs() {
            if ($('#id_contact_medium_2').is(':checked')) {
                contact_type.prop("disabled", false).prop("required", true);
                if (contact.val()) {
                    contact.prop("disabled", false).prop("required", true);
                } else {
                    contact.prop("disabled", true)
                }
                contact.show()
            } else {
                contact_type.prop("disabled", true).prop("required", false).val(null).trigger('change');
                contact.prop("disabled", true).prop("required", false).val('').hide();
            }
            if ($('#id_contact_medium_1').is(':checked')) {
                citizen.val('');
                citizen.parent().hide();
            } else {
                citizen.show();
                citizen.parent().show();
            }
        }

        toggleContactInputs();
        $('#id_contact_medium').click(function () {
            toggleContactInputs()
        });
        contact_type.on('select2:select', function (e) {
            contact.prop("disabled", false).prop("required", true);
        });
        contact_type.on('select2:clear', function (e) {
            contact.prop("disabled", true).prop("required", false).val('');
        });
    </script>
{% endblock javascript %}
