{% extends 'layouts/base.html' %}
{% load bootstrap4 static i18n %}

{% block progress-bar %}
    {% include 'common/progress_bar.html' with percentage=83 %}
{% endblock progress-bar %}

{% block content %}
    {% translate 'Edit' as edit %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <img src="{% static 'images/bg-left-horizontal-waves.png' %}" class="bg-left-horizontal-waves"/>
                <form id="issue-form" method="post">{% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="fs20 lh46 mb-1 text-regular-family">
                                    {% translate 'Enter New Issue' %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="fs56 lh46 text-primary text-bold-family mb-4">
                                    {% translate 'Step' %} 5
                                </div>
                                <div class="fs35 lh35 text-bold-family ">
                                    {% translate 'Confirm & Submit' %}
                                </div>
                            </div>
                            <div class="col-6">
                                {% bootstrap_field form.contact_medium layout='horizontal' %}
                                <div class="row">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="ml-4">
                                            <div class="row">
                                                <div class="col-6">
                                                    {% bootstrap_field form.contact_type %}
                                                </div>
                                                <div class="col-6">
                                                    {% bootstrap_field form.contact %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="id_citizen" class="label-align">
                                            {{ form.citizen.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        {% bootstrap_field form.citizen show_label=False %}
                                        {% bootstrap_field form.citizen_type %}
                                    </div>
                                </div>
                                {% bootstrap_field form.citizen_age_group layout='horizontal' %}
                                {% bootstrap_field form.gender layout='horizontal' %}
                                {% bootstrap_field form.citizen_group_1 layout='horizontal' %}
                                {% bootstrap_field form.citizen_group_2 layout='horizontal' %}
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="id_intake_date" class="label-align">
                                            {{ form.intake_date.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        {% bootstrap_field form.intake_date show_label=False %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="id_issue_date" class="label-align">
                                            {{ form.issue_date.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        {% bootstrap_field form.issue_date show_label=False %}
                                    </div>
                                </div>
                                {% bootstrap_field form.issue_type layout='horizontal' %}
                                {% bootstrap_field form.category layout='horizontal' %}
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="id_description" class="label-align">
                                            {{ form.description.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <a class="btn absolute-left-110 p-0 text-primary" id="edit-description"
                                           title="{{ edit }}">
                                            <i class="fas fa-edit fs17"></i>
                                        </a>
                                        <div id="description_value" class="mb-3"></div>
                                        <div id="input_description" class="hidden input">
                                            {% bootstrap_field form.description layout='horizontal' show_label=False %}
                                        </div>
                                    </div>
                                </div>
                                {% bootstrap_field form.ongoing_issue layout='horizontal' %}
                                <div class="overlay-wrapper">
                                    <div id="attachments"></div>
                                    <div class="overlay" id="load-attachments-spin">
                                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                                    </div>
                                </div>
                                {% bootstrap_field form.administrative_region layout='horizontal' %}
                                {{ form.administrative_region_value }}
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                    <div class="card-footer mb-2">
                        <button id="next" type="submit" class="btn btn-primary btn-sm rounded-xl float-right">
                            {% translate "SAVE & NEXT" %}
                        </button>
                        <a href="{% url 'dashboard:grm:new_issue_step_4' doc.auto_increment_id %}"
                           class="btn btn-primary btn-sm rounded-xl float-right mr-4 disabled-on-submit">
                            <i class="fa fa-chevron-left mr-2"></i>
                            {% translate "BACK" %}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modals %}
    <div id="formModal" class="modal" role="dialog" aria-hidden="true" data-backdrop="static"></div>
{% endblock modals %}

{% block select2 %}
    <script type="text/javascript">
        $("#id_contact_type").select2({
            placeholder: "{% translate 'Click to select contact method' %}",
            allowClear: true,
            disabled: {% if doc.contact_information %}false{% else %}true{% endif %}
        });
        $("#id_citizen_age_group").select2({
            placeholder: "{% translate 'Click to select age group' %}",
            allowClear: true
        });
        $("#id_gender").select2({
            placeholder: "{% translate 'Click to select gender' %}",
            allowClear: true
        });
        {% translate 'Click to select religion, nationality' as empty_group_msg %}
        $("#id_citizen_group_1").select2({
            placeholder: "{{ empty_group_msg }}",
            allowClear: true
        });
        $("#id_citizen_group_2").select2({
            placeholder: "{{ empty_group_msg }}",
            allowClear: true
        });
        $("#id_issue_type").select2({
            placeholder: "{% translate 'Click to select the report' %}",
            allowClear: true
        });
        $("#id_category").select2({
            placeholder: "{% translate 'Click to select the type of grievance' %}",
            allowClear: true
        });
        $("#id_administrative_region").select2({
            placeholder: "{% translate 'Click to select location' %}",
            allowClear: true
        });

        function changeRegionTrigger() {
            $(".region").change(function () {
                $("#id_administrative_region_value").val($("select.region:last").val());
                loadNextLevelRegions($(this));
            });
        }

        changeRegionTrigger();

        let administrative_region_value = $("#id_administrative_region_value").val();
        let ancestors = [];
        $.ajax({
            type: 'GET',
            url: '{% url 'dashboard:grm:get_ancestor_administrative_levels' %}',
            data: {
                administrative_id: administrative_region_value,
            },
            success: function (data) {
                if (data.length > 0) {
                    data = data.slice(1);
                    data.push(administrative_region_value);
                    ancestors = data;
                    loadNextLevelRegions($("select.region:last"));
                } else {
                    $('#next').prop('disabled', false);
                }
            },
            error: function () {
                alert(error_server_message);
            }
        });

        function loadNextLevelRegions(current_level) {
            let current_level_val = current_level.val();
            if (current_level_val !== '') {
                let select_region = $(".region");
                select_region.attr('disabled', true);
                $.ajax({
                    type: 'GET',
                    url: '{% url 'dashboard:grm:get_choices_for_next_administrative_level' %}',
                    data: {
                        parent_id: current_level_val,
                    },
                    success: function (data) {
                        if (data.length > 0) {
                            let id_select = 'id_' + data[0].administrative_level;
                            let label = data[0].administrative_level.replace(/^\w/, (c) => c.toUpperCase());
                            let child;
                            let new_input = document.createElement('div');
                            new_input.className = 'form-group row dynamic-select';

                            let label_element = document.createElement('label');
                            label_element.className = 'col-md-3 col-form-label';
                            label_element.setAttribute('for', id_select);
                            label_element.innerHTML = label;
                            new_input.appendChild(label_element);

                            let div_element = document.createElement('div');
                            div_element.className = 'col-md-9';

                            let select_element = document.createElement('select');
                            select_element.className = 'form-control region';
                            select_element.setAttribute("required", "");
                            select_element.setAttribute('id', id_select);
                            div_element.appendChild(select_element);

                            new_input.appendChild(div_element);

                            current_level.parent().parent().after(new_input);
                            child = current_level.closest('.form-group').next().find('.region');
                            child.select2({
                                allowClear: true,
                                placeholder: "{% translate 'Click to select location' %}",
                            });
                            $(child).next().find('b[role="presentation"]').hide();
                            $(child).next().find('.select2-selection__arrow').append(
                                '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

                            changeRegionTrigger();

                            let options = '<option value></option>';
                            $.each(data, function (index, value) {
                                let administrative_id = value.administrative_id;
                                let option = '<option value="' + administrative_id;
                                if (ancestors.includes(administrative_id)) {
                                    option += '" selected="selected">';
                                    ancestors = ancestors.filter(function (ancestor) {
                                        return ancestor !== administrative_id;
                                    });
                                } else {
                                    option += '">';
                                }
                                option += value.name + '</option>';
                                options += option

                            });
                            child.html(options);
                            child.trigger('change');
                            let child_val = child.val();
                            if (child_val !== '') {
                                child.val(child_val)
                            }
                        }
                    },
                    error: function () {
                        alert(error_server_message);
                    }
                }).done(function () {
                        if (ancestors.length === 0) {
                            select_region.attr('disabled', false);
                            $('#next').prop('disabled', false);
                        }
                    }
                );
            } else {
                let next_selects = current_level.closest('.form-group').nextAll('.dynamic-select');
                $.each(next_selects, function (index, select) {
                    select.remove();
                });
            }
        }
    </script>
{% endblock select2 %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/csrfSafeMethodAjax.js' %}"></script>
    <script src="{% static 'js/formAjaxSubmit.js' %}"></script>
    <script src="{% static 'js/deselectableRadios.js' %}"></script>
    <script type="text/javascript">
        deselectableRadios("id_citizen_type");

        let load_attachments_spin = $('#load-attachments-spin');

        function loadAttachments() {
            load_attachments_spin.show();
            $('#attachments').load("{% url 'dashboard:grm:issue_attachments' doc.auto_increment_id %}", function (
                response, status, xhr) {
                if (status === "error") {
                    alert(error_server_message);
                }
                load_attachments_spin.hide();
                $('#add_attachment').click(function () {
                    let url = "{% url 'dashboard:grm:upload_issue_attachment' doc.auto_increment_id %}";
                    file_form_ajax.load_form('#form', modal, url, false, true);
                });
            });
        }

        $(document).ready(function () {
            loadAttachments();
        });


        class FileFormAjaxSubmit extends FormAjaxSubmit {
            submitted_form() {
                loadAttachments();
            }
        }

        let file_form_ajax = new FileFormAjaxSubmit();
        let modal = $('#formModal');

        $('b[role="presentation"]').hide();
        $('.select2-selection__arrow').append(
            '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

        let dp1 = '<div class="input-group-prepend" data-target="#{id}" data-toggle="datetimepicker">' +
            '<div class="input-group-text"><i class="fa fa-calendar text-primary"></i></div></div>';
        let dp2 = '<div class="input-group date" id="{id}" data-target-input="nearest"></div>';
        $('#id_intake_date').before(dp1.replace('{id}', 'intake_date')).parent().wrapInner(
            dp2.replace('{id}', 'intake_date'));
        $('#id_issue_date').before(dp1.replace('{id}', 'issue_date')).parent().wrapInner(
            dp2.replace('{id}', 'issue_date'));

        //Datemask dd/mm/yyyy
        $('.datetimepicker-input').inputmask({alias: "datetime", inputFormat: "dd/mm/yyyy"});

        let defaultDate = Date.now();
        {% if doc.intake_date %}
            defaultDate = moment("{{ doc.intake_date }}", "YYYY-MM-DD");
        {% endif %}
        $('#intake_date').datetimepicker({
            maxDate: Date.now(),
            useCurrent: false,
            defaultDate: defaultDate,
            format: "DD/MM/YYYY",
        });
        {% if doc.issue_date %}
            defaultDate = moment("{{ doc.issue_date }}", "YYYY-MM-DD");
        {% else %}
            defaultDate = false;
        {% endif %}
        $('#issue_date').datetimepicker({
            maxDate: Date.now(),
            useCurrent: false,
            defaultDate: defaultDate,
            format: "DD/MM/YYYY",
            widgetPositioning: {
                vertical: 'bottom',
            }
        });

        $(document).on('click', '.delete-attachment', function () {
            $.ajax({
                url: $(this).data('url'),
                type: 'POST'
            })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert(error_server_message);
                })
                .done(function (data) {
                    loadAttachments();
                    showPopupMessage(data.msg);
                })
        });

        let contact_type = $('#id_contact_type');
        let contact = $('#id_contact');

        function toggleContactInputs() {
            if ($('#id_contact_medium_2').is(':checked')) {
                contact_type.prop("disabled", false).prop("required", true);
                if (contact.val()) {
                    contact.prop("disabled", false).prop("required", true);
                } else {
                    contact.prop("disabled", true)
                }
                contact.show()
            } else {
                contact_type.prop("disabled", true).prop("required", false).val(null).trigger('change');
                contact.prop("disabled", true).prop("required", false).val('').hide();
            }
        }

        toggleContactInputs();
        $('#id_contact_medium').click(function () {
            toggleContactInputs()
        });
        contact_type.on('select2:select', function (e) {
            contact.prop("disabled", false).prop("required", true);
        });
        contact_type.on('select2:clear', function (e) {
            contact.prop("disabled", true).prop("required", false).val('');
        });

        $('.is-invalid').parent().show();

        let form = $("#issue-form");

        function isValid(selector) {
            if (form[0].checkValidity()) {
                selector.hide();
                selector.prev().show();
            } else {
                form[0].reportValidity();
            }
        }

        let description_value = $('#description_value');
        description_value.html($("#id_description").val());
        let input_description = $("#input_description");
        input_description.focusout(function () {
            isValid($(this));
            description_value.html($("#id_description").val());
        });

        $('#edit-description').click(function () {
            description_value.hide();
            input_description.show();
            $("#id_description").focus();
        });

    </script>
{% endblock javascript %}
