{% extends 'authentication/base.html' %}{% load bootstrap4 static i18n %}
{% block content %}
	<div class="login-box">
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">
					{% translate "Log in to start your session" %}
				</p>
				<form method="post">
					{% csrf_token %} {% bootstrap_form form %}
					<div class="row">
						<div class="col-12">
							<button type="submit" class="btn btn-primary btn-block">
								{% translate "Log in" %}
							</button>
						</div>
					</div>
				</form>
				<p class="mt-3">
					<a href="{% url 'authentication:password_reset' %}">
						{% translate "I forgot my password" %}
					</a>
				</p>
			</div>
		</div>
	</div>
{% endblock content %}
