{% extends 'authentication/base.html' %}{% load bootstrap4 i18n %}
{% block content %}
	{% if validlink %}
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">
						{% translate "Set a new password" %}
					</h3>
				</div>
				<div class="card-body">
					<form method="post">
						{% csrf_token %}
						{% bootstrap_form form %}
						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary btn-block">
									{% translate "Reset Password" %}
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
	{% else %}
		<h5>
			{% translate "The reset link is invalid or has expired." %}
		</h5>
	{% endif %}

{% endblock content %}
