{% extends 'authentication/base.html' %}{% load bootstrap4 i18n %}
{% block content %}
	{% if validlink %}
			<div class="card">
				<div class="card-header border-0">
					<div class="card-title">
						<div class="pt-1 fs20 lh25 text-primary text-bold-family">
							{% translate "Set a new password" %}
						</div>
					</div>
				</div>
				<div class="card-body">
					<form method="post">
						{% csrf_token %}
						{% bootstrap_form form %}
						<div class="row">
							<div class="col-12">
								<button type="submit" class="btn btn-primary btn-block">
									{% translate "Reset Password" %}
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
	{% else %}
		<h5>
			{% translate "The reset link is invalid or has expired." %}
		</h5>
	{% endif %}

{% endblock content %}
