SECRET_KEY=s3cr3t8
ALLOWED_HOSTS=*
DEBUG=True
LANGUAGE_CODE=en-us
OTHER_LANGUAGES=fr,rw,
COUCHDB_DATABASE=eadls
COUCHDB_ATTACHMENT_DATABASE=grm_attachments
COUCHDB_GRM_DATABASE=grm
COUCHDB_GRM_ATTACHMENT_DATABASE=grm_attachments
COUCHDB_URL=http://couchdb:5984
COUCHDB_USERNAME=admin
COUCHDB_PASSWORD=admin
COUCHDB_PORT=5984
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672/
MAPBOX_ACCESS_TOKEN=mapboxaccesstoken
DIAGNOSTIC_MAP_LATITUDE=8.619543
DIAGNOSTIC_MAP_LONGITUDE=0.824782
DIAGNOSTIC_MAP_ZOOM=6.72
DIAGNOSTIC_MAP_WS_BOUND=[-2.6648801064372094, 6.029648247128861]
DIAGNOSTIC_MAP_EN_BOUND=[4.272565648173554, 11.283049778924592]
DIAGNOSTIC_MAP_ISO_CODE=TGO
TWILIO_ACCOUNT_SID=twilioaccountsid
TWILIO_AUTH_TOKEN=twilioauthtoken
TWILIO_FROM_NUMBER=+15555555555
EMAIL_HOST=smtp.gmail.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_PASSWORD=test123
COUNTRY_CALLING_CODE=250
EMAIL_HOST_USER=pcrss.ml@gmail.com


# General environment variables
DJANGO_SUPERUSER_USERNAME=super_user
DJANGO_SUPERUSER_EMAIL=super@example.com
DJANGO_SUPERUSER_PASSWORD=xxx

# PostgreSQL environment variables
POSTGRES_DB=grm_db_name
POSTGRES_USER=xxx
POSTGRES_PASSWORD=xxx
DB_HOST=xxxx
DB_PORT=5437
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:5432/${POSTGRES_DB}

# RabbitMQ environment variables
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Application-specific variables
APP_PORT=8005