{% extends 'layouts/base.html' %}
{% load bootstrap4 i18n static %}

{% block extracss %}
    {{ block.super }}
    <link href="{% static 'plugins/mapbox-gl-js/v2.6.1/mapbox-gl.css' %}" rel="stylesheet">
    <style>
        #map {
            height: 600px;
        }

    </style>
{% endblock extracss %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="card-title">
                        <div class="pt-1 fs20 lh25 text-primary text-bold-family">
                            {% translate 'Filter by' %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 issues-filter">
                            {% bootstrap_field form.start_date layout='horizontal' show_label=False %}
                            {% bootstrap_field form.end_date layout='horizontal' show_label=False %}
                        </div>
                        <div class="col-4 issues-filter border-left">
                            {% bootstrap_field form.type layout='horizontal' show_label=False %}
                            {% bootstrap_field form.category layout='horizontal' show_label=False %}
                        </div>
                        <div class="col-4 regions-filter border-left">
                            {% bootstrap_field form.administrative_region layout='horizontal' %}
                        </div>
                    </div>
                    <a class="btn fs12 text-bold-family text-primary pull-right p-0"
                       id="clear_all_filters">
                        {% translate "Clear all filters" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body" style="height: 650px;">
                    <div class="overlay-wrapper">
                        <div id="map"></div>
                        <div class="overlay z-index1000 issue-percentages-spin irs--round">
                            <i class="fas fa-2x fa-sync-alt fa-spin">
                            </i>
                        </div>
                        <pre id="info"></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 display-flex flex-flow-column">
            <div class="card h-100">
                <div class="card-body table-responsive overflow-y-auto" style="max-height: 650px;">
                    <table id="table" class="table">
                        <thead class="primary">
                        <tr>
                            <th id="administrative_level_label"></th>
                            <th>{% translate 'Number' %}</th>
                            <th>{% translate 'Percentage' %}</th>
                        </tr>
                        </thead>
                        <tbody id="issue-percentages-table">
                        </tbody>
                    </table>
                </div>
                <div class="overlay issue-percentages-spin">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block select2 %}
    <script src="{% static 'js/dynamicRegionSelector.js' %}"></script>
    <script type="text/javascript">
        $("#id_category").select2({
            placeholder: "{% translate 'Category' %}",
            allowClear: true
        });
        $("#id_type").select2({
            placeholder: "{% translate 'Type' %}",
            allowClear: true,
        });
        $("#id_administrative_region").select2({
            placeholder: "{% translate 'Location' %}",
            allowClear: true
        });

        $('b[role="presentation"]').hide();
        $('.select2-selection__arrow').append(
            '<i class="fas fa-chevron-circle-down text-primary" style="margin-top:12px;"></i>');

    </script>
{% endblock select2 %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'plugins/mapbox-gl-js/v2.6.1/mapbox-gl.js' %}"></script>
    <script>
        let administrative_level_label = $("#administrative_level_label");
        let issue_percentage_spin = $('.issue-percentages-spin');
        let start_date = $('#id_start_date');
        let end_date = $('#id_end_date');
        let category = $('#id_category');
        let type = $('#id_type');
        let current_region_id;
        let markers = [];

        administrative_level_label.html($("label[for='id_administrative_region']").html());

        mapboxgl.accessToken = '{{ access_token }}';
        if (!mapboxgl.supported()) {
            alert('Your browser does not support Mapbox GL');
        }
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [{{ lng }}, {{ lat }}],
            zoom: {{ zoom }}
        });

        const bounds = [
            {{ ws_bound }}, // [west, south]
            {{ en_bound }}  // [east, north]
        ];
        // Set the map's max bounds.
        map.setMaxBounds(bounds);

        map.on('load', function () {
            map.addLayer(
                {
                    'id': 'country-boundaries',
                    'source': {
                        'type': 'vector',
                        'url': 'mapbox://mapbox.country-boundaries-v1',
                    },
                    'source-layer': 'country_boundaries',
                    'type': 'fill',
                    'paint': {
                        'fill-color': '#d2361e',
                        'fill-opacity': 0.2,
                    },
                },
                'country-label'
            );

            map.setFilter('country-boundaries', [
                "in",
                "iso_3166_1_alpha_3",
                '{{ country_iso_code }}',
            ]);

            setTimeout(function () {
                issue_percentage_spin.hide();
            }, 1000);
        });

        map.on('styledata', (e) => {
            issue_percentage_spin.show();
        });

        map.on('idle', (e) => {
            setTimeout(function () {
                issue_percentage_spin.hide();
            }, 96000);
        });

        loadStatistics();

        function loadStatistics() {
            // clear markers array
            markers.forEach((marker) => marker.remove());

            $.ajax({
                type: 'GET',
                url: '{% url 'dashboard:diagnostics:issues_percentages' %}',
                data: {
                    start_date: start_date.val(),
                    end_date: end_date.val(),
                    category: category.val(),
                    type: type.val(),
                    region: current_region_id,
                },
                success: function (data) {
                    if (Object.keys(data).length > 0) {
                        let level = data[Object.keys(data)[0]].level;
                        administrative_level_label.html(level);

                        let percentages_table = document.createElement('div');
                        $.each(data, function (administrative_id, region) {
                            // create DOM element for the marker
                            const el = document.createElement('div');
                            el.className = 'map-marker';
                            el.title = region.name;
                            el.textContent = region.percentage + '%';

                            // create the marker
                            let marker = new mapboxgl.Marker(el)
                                .setLngLat([region.longitude, region.latitude])
                                .addTo(map);
                            markers.push(marker);

                            const tr = document.createElement('tr');
                            const td_name = document.createElement('td');
                            td_name.innerHTML = region.name;
                            tr.appendChild(td_name);
                            const td_issues = document.createElement('td');
                            td_issues.innerHTML = region.issues;
                            tr.appendChild(td_issues);
                            const td_percentage = document.createElement('td');
                            td_percentage.innerHTML = region.percentage + '%';
                            tr.appendChild(td_percentage);
                            percentages_table.append(tr);
                        });
                        $('#issue-percentages-table').html(percentages_table.innerHTML);
                    } else {
                        let no_issues_found = '<td class="text-center" colspan="3">' +
                            '{% translate "No issues found" %}' + '</td>';
                        $('#issue-percentages-table').html(no_issues_found)
                    }
                    issue_percentage_spin.hide();
                },
                error: function (data) {
                    alert(error_server_message + "Error " + data.status);
                    issue_percentage_spin.hide();
                }
            });
        }

        function changeRegionTrigger(url, placeholder) {
            $(document).on("change", ".region", function () {
                let current_input_value = $(this).val();
                if (current_input_value) {
                    current_region_id = current_input_value;
                } else {
                    current_region_id = $("select.region").eq(-2).val();
                }
                loadNextLevelRegions($(this), url, placeholder);
                loadStatistics();
            });
        }

        let get_choices_url = '{% url 'dashboard:grm:get_choices_for_next_administrative_level' %}?exclude_lower_level=true';
        let choice_placeholder = "{% translate 'Click to select location' %}";
        changeRegionTrigger(get_choices_url, choice_placeholder);

        let dp1 = '<div class="input-group-prepend" data-target="#{id}" data-toggle="datetimepicker">' +
            '<div class="input-group-text"><i class="fa fa-calendar text-primary"></i></div></div>';
        let dp2 = '<div class="input-group date" id="{id}" data-target-input="nearest"></div>';
        $('#id_start_date').before(dp1.replace('{id}', 'start_date')).parent().wrapInner(
            dp2.replace('{id}', 'start_date'));
        $('#id_end_date').before(dp1.replace('{id}', 'end_date')).parent().wrapInner(
            dp2.replace('{id}', 'end_date'));

        //Datemask dd/mm/yyyy
        $('.datetimepicker-input').inputmask({alias: "datetime", inputFormat: "dd/mm/yyyy"});

        let options = {
            maxDate: Date.now(),
            useCurrent: false,
            format: "DD/MM/YYYY",
            widgetPositioning: {
                vertical: 'bottom',
            }
        };

        function dateChanged(e) {
            if (e.oldDate !== e.date) {
                loadStatistics();
            }
        }

        $('#start_date').datetimepicker(options);
        $('#start_date').on("change.datetimepicker", dateChanged);
        $('#end_date').datetimepicker(options);
        $('#end_date').on("change.datetimepicker", dateChanged);
        $('.issues-filter input').on('change keyup', function () {
            if (!$(this).val()) {
                loadStatistics();
            }
        });
        $('.issues-filter select').on('change', function () {
            loadStatistics();
        });

        $("#clear_all_filters").on("click", function () {
            $('.issues-filter input').val('');
            $('.issues-filter select').val(null).trigger('change.select2');
            $('.regions-filter select').val(null).trigger('change.select2');
            current_region_id = null;
            loadStatistics();
            loadNextLevelRegions($("#id_administrative_region"), '', '');
        });

    </script>
{% endblock javascript %}
