{% load i18n %}
<div class="row">
	<div class="form-group filter {{ col_size }}">
		<label>{% translate 'Administrative Level' %}</label>
		<select id="administrative_region" name="administrative_region" class="form-control"
				data-value="{{ filters.administrative_region|default:''}}">
			<option></option>
		</select>
	</div>
	<div class="form-group filter {{ col_size }}">
		<label>{% translate 'Type' %}</label>
		<select name="issue_type" class="form-control">
			<option></option>
			{% for item in types %}
				<option value="{{ item.id }}"
						{% if filters.issue_type == item.id|stringformat:"s" %}selected{% endif %}>{{ item.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group filter {{ col_size }}">
		<label>{% translate 'Age Group' %}</label>
		<select name="age_group" class="form-control">
			<option></option>
			{% for item in age_groups %}
				<option value="{{ item.id }}"
						{% if filters.age_group == item.id|stringformat:"s" %}selected{% endif %}>{{ item.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group filter {{ col_size }}">
		<label>{% translate 'Citizen Group 1' %}</label>
		<select name="group" class="form-control">
			<option></option>
			{% for item in groups %}
				<option value="{{ item.id }}"
						{% if filters.group == item.id|stringformat:"s" %}selected{% endif %}>{{ item.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group filter {{ col_size }}">
		<label>{% translate 'Citizen Group 2' %}</label>
		<select name="group_2" class="form-control">
			<option></option>
			{% for item in groups_2 %}
				<option value="{{ item.id }}"
						{% if filters.group_2 == item.id|stringformat:"s" %}selected{% endif %}>{{ item.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group filter {{ col_size }}">
		<label>{% translate 'Case Date' %}</label>
		<div class="row">
			<div class="col-md-6">
				<input type="date" name="start_date" value="{{ filters.start_date }}" class="form-control"
					   title="{% translate 'From' %}">
			</div>
			<div class="col-md-6">
				<input type="date" name="end_date" value="{{ filters.end_date }}" class="form-control"
					   title="{% translate 'To' %}">
			</div>
		</div>
	</div>
</div>

<button class="btn btn-primary" type="submit">Search</button>

<a class="btn text-bold text-primary pull-right" id="clear_all_filters">
	{% translate "Clear all filters" %}
</a>