{% extends 'layouts/base.html' %}{% load static i18n %}

{% block content %}
	<h5 class="text-center text-bold-family">
		{% translate 'Find Relevant Cases' %}
	</h5>
	<div class="overlay-wrapper">
		{% include "search/_search_container.html" with categories=categories statuses=statuses assignees=assignees age_groups=age_groups %}
		<div id="loading" class="overlay d-none">
			<i class="fas fa-5x fa-sync-alt fa-spin"></i>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script src="{% static 'plugins/htmx/htmx.min.js' %}"></script>
	<script>
        // Re-enable submit buttons after any HTMX swap
        document.body.addEventListener('htmx:afterSwap', () => {
            document.querySelectorAll('button[type="submit"]').forEach(btn => btn.disabled = false);

            // Reapply Select2 every time the DOM changes (due to HTML)
            $('#searchForm select').select2({
                width: '100%',
                placeholder: "{% translate 'All' %}",
                allowClear: true
            });
        });

        document.body.addEventListener('htmx:beforeRequest', function () {
            document.getElementById('loading').classList.remove('d-none');
        });

        document.body.addEventListener('htmx:afterRequest', function (evt) {
            document.getElementById('loading').classList.add('d-none');
        });

        $(document).on("click", "#clear_all_filters", function () {
            $('.filter input').val('');
            $('.filter select').val(null).trigger('change.select2');
        });
	</script>
{% endblock %}

{% block select2 %}
	<script type="text/javascript">
        $('#searchForm select').select2({
            width: '100%',
            placeholder: "{% translate 'All' %}",
            allowClear: true
        });
	</script>
{% endblock select2 %}
