{% load bootstrap4 i18n %}

<div class="card-header border-0">
	<div class="card-title">
		<div class="pt-1 fs20 lh25 text-bold-family">
			{{ card_title }}
		</div>
	</div>
</div>
<form id="form" enctype="multipart/form-data" class="d-flex flex-column h-100">
	{% csrf_token %}
	<div class="card-body flex-grow-1">
		<div class="overlay-wrapper">
			{% bootstrap_form form %}
			<div class="overlay submit-spin d-none">
				<i class="fas fa-2x fa-sync-alt fa-spin"></i>
			</div>
		</div>
	</div>
	<div class="card-footer mb-2 mt-auto">
		<button type="submit" class="btn btn-primary btn-sm rounded-xl float-right">
			{% translate "Next" %}
		</button>
		{% if step != 1 %}
			<button id="previous_step" data-step="{{ step }}" 
					class="btn btn-secondary btn-sm rounded-xl float-right mr-4 disabled-on-submit">
				<i class="fa fa-chevron-left mr-2"></i>
				{% translate "Previous" %}
			</button>
		{% endif %}
	</div>
</form>

