{% load static i18n %}

<!-- Navbar -->
<nav class="main-header wizard-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
            <div class="nav-greetings">
                {% translate 'Welcome' %}, {{ user.first_name }}!
            </div>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:diagnostics:home' %}" role="button">
                {% translate 'Dashboard' %}
            </a>
        </li>
        {% if OTHER_LANGUAGES %}
            {% include 'layouts/language_dropdown.html' %}
        {% endif %}
        <li class="nav-item white-shaded-nav-item">
            <a class="nav-link" href="{% url 'dashboard:authentication:logout' %}" title="{% translate 'Logout' %}"
               role="button">
                <i class="fa fa-sign-out align-bottom"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
