{% load bootstrap4 i18n %}

{% translate "Upload Administrative Levels" as upload_regions %}

<div class="card-header border-0">
	<div class="card-title">
		<div class="pt-1 fs20 lh25 text-bold-family">
			{{ card_title }}
		</div>
	</div>
</div>
<div class="card-body table-responsive">

	<div class="label">
		{% translate "Administrative Levels" %}
	</div>

	<div class="pull-right">
		<a href="{% url 'wizard:download_regions_sample' %}" class="btn btn-info btn-sm fs12 rounded-xl mb-2">
			{% translate "Download Sample Excel" %}
		</a>
		<a id="upload_regions" class="btn btn-primary btn-sm fs12 rounded-xl mb-2" data-toggle="modal"
		   data-target="#uploadModal">
			{{ upload_regions }}
		</a>
	</div>

	<table class="table mt-5">
		<thead class="primary">
		<tr>
			<th>{% translate "Administrative Level" %}</th>
			<th>{% translate "Number of Instances" %}</th>
		</tr>
		</thead>
		<tbody>
		{% for level in regions_summary %}
			<tr>
				<td>{{ level.name }}</td>
				<td>{{ level.region_count }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="2">{% translate "No administrative levels found." %}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<div class="card-footer mb-2 mt-auto">
	<button id="next_step" class="btn btn-primary btn-sm rounded-xl float-right 
	disabled-on-submit {% if section_status != 'completed' %}disabled{% endif %}">
		{% translate "Next" %}
	</button>
	<button id="previous_step" data-step="{{ step }}" 
			class="btn btn-secondary btn-sm rounded-xl float-right mr-4 disabled-on-submit">
		<i class="fa fa-chevron-left mr-2"></i>
		{% translate "Previous" %}
	</button>
</div>

<div id="uploadModal" class="modal">
	<div class="modal-dialog modal-confirmation">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title mx-auto">
					<div class="fs20 text-bold-family text-primary">
						{{ upload_regions }}
					</div>
				</div>
				<button type="button" class="border-0 bg-transparent close-modal" data-dismiss="modal"
						aria-label="Close">
					<div class="circle-icon bg-primary">
						<div class="center-27">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</button>
			</div>
			<form id='formUploadModal' method="post" action="{% url 'wizard:setup_step_3' %}"
				  enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-body">
					<div class="overlay-wrapper">
						{% bootstrap_form form %}
						<div class="overlay submit-spin d-none">
							<i class="fas fa-2x fa-sync-alt fa-spin"></i>
						</div>
					</div>
				</div>
				<div class="modal-footer border-0">
					<button type="submit" class="btn btn btn-primary text-right">
						{% translate "Upload" %}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>